/* Section Our Team */

.team-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.section-our-team {
  background-color: #f4f4fd;
}

.team-item {
  background: #ffffff;
}